<?xml version='1.0' encoding='UTF-8' ?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       
http://www.springframework.org/schema/tx 
http://www.springframework.org/schema/tx/spring-tx-4.0.xsd

http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-4.0.xsd

http://www.springframework.org/schema/mvc 
http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd

http://www.springframework.org/schema/task
http://www.springframework.org/schema/task/spring-task-4.0.xsd

">


    <mvc:annotation-driven conversion-service="conversionService" />
    <mvc:resources mapping="/res/**" location="/res/" />

    
    <bean id="propertyConfigurer"
        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
        p:location="/WEB-INF/app.properties"
    />
    
    <!-- Hibernate config -->
    
<!--    <bean id="dataSource" 
        class="org.springframework.jdbc.datasource.DriverManagerDataSource"
        p:driverClassName="${app.jdbc.driverClassName}"
        p:url="${app.jdbc.url}"
        p:username="${app.jdbc.username}"
        p:password="${app.jdbc.password}"
    />
-->
    <bean id="dataSource" 
        class="com.mchange.v2.c3p0.ComboPooledDataSource"
        p:driverClass="${app.jdbc.driverClassName}"
        p:jdbcUrl="${app.jdbc.url}"
        p:user="${app.jdbc.username}"
        p:password="${app.jdbc.password}"
        p:minPoolSize="3"
        p:maxPoolSize="20"
        p:maxStatements="20"
        p:acquireIncrement="1"
        p:testConnectionOnCheckin="true"
        p:idleConnectionTestPeriod="300"
        p:maxIdleTime="240"
    />
    
    <bean id="sessionFactory" 
        class="org.springframework.orm.hibernate4.LocalSessionFactoryBean"
        p:dataSource-ref="dataSource"
        p:configLocation="classpath:hibernate.cfg.xml"
        p:packagesToScan="ru.codemine.ccms.entity"
    />
    
    <tx:annotation-driven />
    <bean id="transactionManager" 
        class="org.springframework.orm.hibernate4.HibernateTransactionManager"
        p:sessionFactory-ref="sessionFactory"
    />
    
    <!--Data conversion config --> 
    
    <bean id="conversionService" 
        class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
            <list>
                <bean class="ru.codemine.ccms.converter.idToShopConverter" />
                <bean class="ru.codemine.ccms.converter.idToEmployeeConverter" />
                <bean class="ru.codemine.ccms.converter.idToOrganisationConverter" />
                <bean class="ru.codemine.ccms.converter.idToExpenceTypeConverter" />
                <bean class="ru.codemine.ccms.converter.StringToDatetimeConverter" />
                <bean class="ru.codemine.ccms.converter.StringToLocalDateConverter" />
            </list>
        </property>
    </bean>
    
    <!-- Sheduler -->
    
    <task:annotation-driven />
    
    <!-- Component scan config -->
    
    <context:annotation-config />
    <context:component-scan base-package="ru.codemine.ccms" />

</beans>
